@media (max-width:1210px) {
	.submenu.mega-menu {
		width: calc(100vw - 50px);
	}
}

@media (max-width:1050px) {
	.footer__info {
		flex-wrap: wrap;
		padding-bottom: 30px;
	}

	.footer__item {
		&.adress {
			min-width: 100%;
			margin-bottom: 30px;
			margin-top: 0;
			padding-left: 0px;
		}
	}

	.footer__inner {
		padding-top: 80px;
	}
}

@media (max-width:890px) {
	.header__bottom .menu .header__btn {
		margin-left: 0;
		top: 27px;
		position: absolute;
		padding: 5px 10px;
		font-size: 15px;
	}

}

@media (max-width:930px) {
	body.lock {
		overflow: hidden;
	}

	.submenu.mega-menu {
		display: none !important;
	}

	/* body.touch .arrow */
	.arrow {
		display: block;
	}

	/* body.touch .submenu.open */
	.submenu.open {
		display: block;
		visibility: visible;
		opacity: 1;
	}

	//меню в бургере

	/* body.touch .submenu */
	.submenu-burger {
		background-color: transparent;
		box-shadow: none;
		padding: 10px;
		border-top: none;
		border-radius: 0;
		width: 100%;
		left: 0 !important;

		.submenu-list {
			margin: 0px;

			a {
				background-color: transparent;
				padding-top: 10px;
				padding-bottom: 10px;
				display: block;
				line-height: 15px;
			}
		}
	}

	.header__logo {
		margin-left: 50px;
	}

	.header__burger {
		display: block;
		position: fixed;
		width: 30px;
		height: 20px;
		cursor: pointer;
		top: 34px;
		left: 14px;
		transition: transform .5s ease;

		&.active {
			top: 35px;
			left: 80%;
			position: absolute;
			align-self: flex-end;

		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: $btn;
			width: 100%;
			height: 2px;
			left: 0;
			transition: transform .5s ease;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: -1px;
		}

		span {
			position: absolute;
			background-color: $btn;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			transition: transform .5s ease;
		}

		&.active:before {
			top: 9px;
			transform: rotate(405deg);
		}

		&.active:after {
			top: 9px;
			transform: rotate(-405deg);
		}

		&.active span {
			transform: scale(0);
		}
	}

	.menu.hover .menu__list a:hover {
		color: $btn;
	}

	.header__bottom {
		.menu {
			overflow: auto;
			position: fixed;
			padding: 100px 50px 20px;
			top: 0;
			z-index: 1;
			left: -100%;
			background-color: rgba(0, 0, 0, .9);
			height: 100%;
			transition: all .4s;
			display: flex;
			flex-direction: column;
			width: 70%;

			&.active {
				left: 0;
			}

			.menu__list {
				display: block;
			}

			a {
				display: block;
				color: #fff;
				font-size: 18px;
				line-height: 25px;
				margin: 0;
				padding: 0;
			}

			&>li {
				border-bottom: 1px solid rgba(255, 255, 255, .2);
				padding: 0px 10px 17px 0;
				height: auto;
			}

			li+li {
				margin-left: 0;
				margin-top: 15px;
			}

			.submenu {
				position: relative;
				top: 20px;
				left: 0;
				margin-bottom: 20px;
			}
		}
	}

	.header__btn-menu {
		display: block;
		width: 100px;
		height: 100px;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		cursor: pointer;

		&::before {
			font-family: 'Linearicons';
			color: $btn;
			position: absolute;
			font-size: 50px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.header__box {
		transition: all .3s;

		&.active {
			transform: translateX(150%);
		}
	}
}

@media (max-width:770px) {

	.footer__inner {
		padding-top: 30px;
	}

	.footer__info {
		justify-content: center;
	}

	.footer__item {
		&.menu+&.menu {
			margin-left: 40px;
		}

		&.form {
			min-width: 100%;
			margin-top: 30px;
		}
	}
}

@media (max-width:500px) {
	.page-404__inner {
		padding: 30px 0 50px;
	}
}

@media (max-width:450px) {
	.page-404__iamage {
		background-size: contain;
		height: 330px;
	}

	.page-404__title {
		margin: 25px 0 25px;
	}

	.footer__copy {
		text-align: center;
	}
}

@media (max-width:400px) {
	.page-404__title {
		font-size: 25px;
	}

	.page-404__title {
		margin: 10px 0 25px;
	}

	.page-404__inner {
		padding: 10px 0 25px;
	}
}

@media (max-width:355px) {
	.footer__info {
		justify-content: flex-start;
	}

	.footer__item {
		&.menu+&.menu {
			margin-left: 20px;
			margin-top: 30px;
		}

		&.menu {
			margin-left: 20px;
			min-width: 100%;
		}
	}

	.footer__item-social {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;

		li {
			margin-top: 20px;
		}
	}
}