@import 'vars';
@import 'global';

// Header-top

.header__top {
	background-color: $grey;
}

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}

	&__btn {
		margin-left: auto;
		padding: 12px 20px;
		margin-right: 48px;
	}

	&__notifications {
		margin-right: 28px;

		a+a {
			margin-left: 28px;
		}
	}

	&__client {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__avatar {
		width: 50px;
		height: 50px;
		background-color: #7c7979;
		border-radius: 50%;
	}

	&__bayer {
		margin-left: 20px;
		font-weight: 500;
		line-height: 22px;

		span {
			display: block;
		}
	}

	&__name {
		font-size: 16px;
		color: $text;
	}

	&__price {
		font-size: 15px;
		font-weight: 400;
		color: $btn;
	}
}

.header {

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 20px;
	}

	&__inner-search {
		flex: 0 1 360px;
	}
}

.menu {
	li+li {
		margin-left: 30px;
	}

	&__list {
		display: inline-block;

		a {
			font-size: 15px;
			text-transform: uppercase;
			color: $text;
		}
	}
}

.search__inner {
	&-form {
		position: relative;

		input {
			width: 100%;
			display: block;
			height: 46px;
			padding-left: 22px;
			padding-right: 80px;
			font-size: 15px;
			font-weight: 400;
			border-radius: 23px;
			border: 1px solid #d9dfe5;

			&::placeholder {
				color: #898f96
			}
		}
	}

	&-btn {
		position: absolute;
		border: none;
		right: 0;
		top: 0;
		height: 46px;
		width: 70px;
		border-radius: 23px;
		cursor: pointer;
	}
}

.notification {
	position: relative;
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.num {
	position: absolute;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	height: 22px;
	min-width: 22px;
	border-radius: 11px;
	text-align: center;
	top: -16px;
	left: 12px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.header__bell span {
	background-color: #ff6a6c;
}

.header__mail span {
	background-color: #62d03b;
}

.header__bascet span {
	background-color: #0674ec;
}

// Search section

.search {
	text-align: center;
	min-height: 725px;
	background-color: #294cce;
	padding-top: 177px;
	padding-bottom: 235px;
	position: relative;

	&__title {
		font-size: 60px;
		line-height: 70px;
		font-weight: 700;
		color: #f3f3f8;
		margin-bottom: 30px;

		span {
			font-weight: 400;
			display: block;
		}
	}

	&__text {
		font-size: 20px;
		font-weight: 500;
		color: #f3f3f8;
		margin-bottom: 65px;
	}

	&__buttons-btn {
		background-color: transparent;
		padding: 20px 30px;
		border: 1px solid #fff;
		cursor: pointer;
		margin-left: 26px;
		font-size: 16px;
		font-weight: 400;

		&.active {
			background-color: #fff;
			color: #0674ec;
		}
	}

	&__form {
		max-width: 1140px;
		width: 100%;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		border-radius: 6px;
		padding: 40px;
		position: absolute;
		bottom: 0;
		transform: translateY(50%);
		left: calc((100vw - 1140px)/2);

		&::after {
			content: '';
			position: absolute;
			width: calc(100% - 30px);
			height: 13px;
			background-color: rgba(255, 255, 255, 0.5);
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			top: -13px;
			left: 15px;
		}

		&::before {
			content: '';
			position: absolute;
			width: calc(100% - 60px);
			height: 26px;
			background-color: rgba(255, 255, 255, 0.5);
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			top: -26px;
			left: 30px;
		}

		input {
			height: 55px;
			max-width: 615px;
			width: 100%;
			border: 1px solid #dcdcdc;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			padding-left: 28px;
			padding-right: 20px;
			display: inline-block;

			&::placeholder {
				font-size: 16px;
				font-weight: 400;
				color: #676767;
			}
		}

		select {
			max-width: 195px;
			width: 100%;
			height: 55px;
			border: 1px solid #dcdcdc;
			border-left: 1px solid transparent;
			padding-left: 20px;
			padding-right: 53px;
			outline: none;
			appearance: none;
			font-size: 16px;
			font-weight: 400;
			color: #555;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&-btn {
			border-radius: 3px;
			border: none;
			font-size: 16px;
			font-weight: 400;
			line-height: 55px;
			padding: 0 60px;
			margin-left: 26px;
			cursor: pointer;
		}
	}
}

.select {
	position: relative;
	display: inline-block;
	margin-left: -4px;


	&::before {
		content: '';
		position: absolute;
		background-image: url(../images/icons/arrow-down.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 13px;
		height: 8px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		right: 20px;
	}
}

// advantages section

.advantages {

	&__inner {
		padding-top: 185px;
		padding-bottom: 120px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		max-width: 360px;
		padding: 40px 30px;

		&:hover {
			border-radius: 4px;
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}

	&__item-img {
		height: 120px;
		width: 120px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__item-title {
		font-size: 24px;
		font-weight: 400;
		margin-top: 34px;
		margin-bottom: 20px;
		color: #010101;
	}

	&__item-text {
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
	}
}



// Featured products slider

.featured {
	&__inner {
		background-color: #eff1f5;
		padding-top: 120px;
		padding-bottom: 120px;
	}

	&__box {
		margin-bottom: 50px;
	}

	&__box-title {
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		font-size: 30px;
		font-weight: 400;
		padding-left: 30px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-right: 140px;
	}

	&__product-cart {
		display: flex;
	}
}

.product-cart {

	&__img {
		flex: 0 1 50%;
		min-height: 450px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: #4e5760;
	}

	&__info {
		flex: 0 1 50%;
		padding: 48px 40px 24px 50px;
		background-color: #fff;
	}
}

.info {
	&__title {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 14px;
		color: #000;
	}

	&__product {
		margin-bottom: 27px;
		display: flex;
		align-items: center;
	}

	&__product-dev {
		display: flex;
		align-items: center;

		.info__product-logo {
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-color: #7347c1;
			border-radius: 50%;
		}

		.info__product-name {
			margin-left: 8px;
			font-size: 15px;
			font-weight: 400;
			line-height: 30px;
		}
	}

	&__product-type {
		display: flex;
		align-items: center;
		margin-left: 20px;

		.product-type__logo {
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.product-type__name {
			font-size: 15px;
			line-height: 30px;
			color: #7347c1;
			margin-left: 8px;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		color: #555555;
		margin-bottom: 32px;
	}

	&__tags {
		margin-bottom: 44px;
	}

	&__tags-title {
		font-size: 15px;
		line-height: 30px;
		color: #868c96;
		background-color: #f1f3f6;
		border-radius: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__price {
		border-top: 1px solid #ececec;
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
	}

	&__price-price {}

	&__price-likes {}

	&__price-sell {
		margin-right: auto;
	}

}

.rate-star.jq-ry-container {
	svg {
		rect {
			stroke: red !important;
			stroke-width: 1px !important;
		}

	}
}