@import 'vars';
@import 'global';

.header__top {
	background-color: $grey;
}

.header {

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}

	&__btn {
		margin-left: auto;
		padding: 12px 20px;
		margin-right: 48px;
	}

	&__notifications {
		margin-right: 28px;

		a+a {
			margin-left: 28px;
		}
	}

	&__bell {}

	&__mail {}

	&__bascet {}

	&__client {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__avatar {
		width: 50px;
		height: 50px;
		background-color: #7c7979;
		border-radius: 50%;
	}

	&__bayer {
		margin-left: 20px;
		font-weight: 500;
		line-height: 22px;

		span {
			display: block;
		}
	}

	&__name {
		font-size: 16px;
		color: $text;
	}

	&__price {
		font-size: 15px;
		font-weight: 400;
		color: $btn;
	}
}

.header {

	&__bottom {}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 20px;
	}

	&__menu {}

	&__inner-search {}
}


.menu {
	li+li {
		margin-left: 30px;
	}

	&__list {
		display: inline-block;

		a {
			font-size: 15px;
			text-transform: uppercase;
			color: $text;
		}
	}
}

.search__inner {
	&-form {
		width: 360px;
		position: relative;

		input {
			width: 100%;
			display: block;
			height: 46px;
			padding-left: 22px;
			padding-right: 80px;
			font-size: 15px;
			font-weight: 400;
			border-radius: 23px;
			border: 1px solid #d9dfe5;

			&::placeholder {
				color: #898f96
			}
		}
	}

	&-btn {
		position: absolute;
		border: none;
		right: 0;
		top: 0;
		height: 46px;
		width: 70px;
		border-radius: 23px;
		cursor: pointer;
	}
}

.notification {
	position: relative;
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

.num {
	position: absolute;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	height: 22px;
	min-width: 22px;
	border-radius: 11px;
	text-align: center;
	top: -16px;
	left: 12px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.header__bell span {
	background-color: #ff6a6c;
}

.header__mail span {
	background-color: #62d03b;
}

.header__bascet span {
	background-color: #0674ec;
}